#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_STACK_TEST
	tristate "Test stack usage"
	default n
	---help---
		Test stack usage by recursively calling a function.

if EXAMPLES_STACK_TEST

config EXAMPLES_STACK_TEST_PROGNAME
	string "Program name"
	default "stack_test"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config EXAMPLES_STACK_TEST_PRIORITY
	int "Stack test task priority"
	default 100

config EXAMPLES_STACK_TEST_STACKSIZE
	int "Stack test stack size"
	default DEFAULT_TASK_STACKSIZE

endif
